<div *ngIf="isSelectStage()">
  <div class="card">
    <div class="card-header">
      <h5>Sentence Correction</h5>
    </div>

    <div class="card-block">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let practice of scPracticeSets">
          <div class="card card-inverse card-info">
            <div class="card-block pb-0 btn-info" style="cursor: pointer;" (click)="selectPracticeSet(practice)">
              <h4 class="mb-0">{{practice.practiceName}}</h4>
              <p>{{practice.numberOfQuestions}} Questions</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>Critical Reasoning</h5>
    </div>

    <div class="card-block">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let practice of crPracticeSets">
          <div class="card card-inverse card-danger">
            <div class="card-block pb-0 btn-danger" style="cursor: pointer;" (click)="selectPracticeSet(practice)">
              <h4 class="mb-0">{{practice.practiceName}}</h4>
              <p>{{practice.numberOfQuestions}} Questions</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>Reading Comprehension</h5>
    </div>

    <div class="card-block">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let practice of rcPracticeSets">
          <div class="card card-inverse card-success">
            <div class="card-block pb-0 btn-success" style="cursor: pointer;" (click)="selectPracticeSet(practice)">
              <h4 class="mb-0">{{practice.practiceName}}</h4>
              <p>{{practice.numberOfQuestions}} Questions</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <confirm-dialog [popupMessage]="popupMessage" (close)="popupMessage = null;"></confirm-dialog>
</div>

<div *ngIf="isSummaryStage()">
  <gmat-practice-summary></gmat-practice-summary>
</div>

<div *ngIf="isPracticeStage()">
  <gmat-practice-screen></gmat-practice-screen>
</div>
