<button class="btn btn-primary" style="margin-bottom: 20px;" (click)="backToSelection()"><i class="fa fa-arrow-left"></i> Back</button>

<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Practice Summary - {{currentPractice.practiceName}}
  </div>
  <div class="card-block">
    <button class="btn btn-success" style="margin-bottom: 20px;" (click)="startPractice()">Start Practice</button>
    <button class="btn btn-primary" style="margin-bottom: 20px;" (click)="resumePractice()">Resume Practice</button>
    <button class="btn btn-warning" style="margin-bottom: 20px;" (click)="startReview()">Review All</button>

    <table class="table table-bordered table-striped table-condensed">
      <thead>
      <tr>
        <th style="width: 150px;">No.</th>
        <th style="width: 40px;">Type</th>
        <th style="width: 40px;">Answer</th>
        <th style="width: 60px;">Time</th>
        <th style="width: 80px;">Result</th>
        <th style="width: 80px;">Favorite</th>
        <th style="width: 100px;">Practice</th>
        <th style="width: 100px;">Review</th>
        <th>Remarks</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let question of currentPractice.questions">
        <td>{{question.question_number}}</td>
        <td>{{question.question_type}}</td>
        <td>{{question.selected_answer}}</td>
        <td><span gm-digital-time [time]="question.question_time"></span></td>
        <td><span *ngIf="question.selected_answer">{{question.selected_answer == question.correct_answer ? 'Correct' : 'Incorrect'}}</span></td>
        <td style="padding: 0;"><i class="fa fa-flag-checkered fa-lg mt-2" *ngIf="question.bookmarked" style="margin-left: 5px;"></i></td>
        <td><a (click)="startPracticeAt(question)" style="text-decoration: underline; cursor: pointer; color: blue;">Practice</a></td>
        <td><a (click)="startReviewAt(question)" style="text-decoration: underline; cursor: pointer; color: blue;">Review</a></td>
        <td>{{question.remarks | truncate}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
