<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" href="#" style="max-width: 200px;"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
    </ul>

  <h4 style="text-align: center; flex: 1 1 auto; margin-top: 15px;">GMAT - Zero To Hero</h4>

  <button class="loginBtn loginBtn--facebook" style="margin-top: 10px; cursor: pointer;" *ngIf="!isLogin()" (click)="login()">Login with Facebook</button>

  <ul class="nav navbar-nav" style="max-width: 500px; flex: 0 0 auto;" *ngIf="isLogin()">
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
      <span class="nav-link dropdown-toggle pull-right" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
        <img src="{{user?.providerData[0].photoURL}}" class="img-avatar">
        <span class="hidden-md-down">{{user?.displayName}}</span>
      </span>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">

        <div class="dropdown-header text-center" style="background-color: #00bf8f; color: white;"><strong>Settings</strong></div>

        <span class="dropdown-item" href="#"><i class="fa fa-shield"></i> Unlock Features</span>

        <div class="dropdown-header text-center" style="background-color: dodgerblue; color: white;"><strong></strong>Account</div>

        <span class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-lock"></i> Logout</span>
      </div>
    </li>
  </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/gmat-cat']"><i class="icon-speedometer"></i> GMAT Tests <span class="badge badge-danger">HOT</span></a>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/gmat-practice/standard']"><i class="icon-speedometer"></i> GMAT Practices <span class="badge badge-danger">HOT</span></a>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/gmat-practice/quantitative']"><i class="icon-speedometer"></i> Quantitative <span class="badge badge-info">NEW</span></a>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/gmat-practice/premium']"><i class="icon-speedometer"></i> PREMIUM <span class="badge badge-info">NEW</span></a>
                    <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/gmat-practice/comprehensive']" *ngIf="isStudent()"><i class="icon-speedometer"></i> Comprehensive <span class="badge badge-warning">HOT</span></a>-->
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/gmat-practice/comprehensive']"><i class="icon-speedometer"></i> Comprehensive <span class="badge badge-warning">HOT</span></a>
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/gmat-timer']"><i class="icon-speedometer"></i> GMAT Timer <span class="badge badge-success">COOL</span></a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <breadcrumbs></breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="#">GMAT </a> &copy; 2017 Zero To Hero.
    <span class="float-right">Created by <a href="https://www.facebook.com/tronghieubk" target="_blank">Hieu Nguyen</a>
    </span>
</footer>
