<div id="test-container">
  <div id="wrapper">
    <div class="testForm">
      <div id="header">
        <h1>GMAT - Zero To Hero</h1>

        <div class="control quizNum" *ngIf="isTestMode()"><span>Expected: {{testScreenService.expectedQuestion}}</span></div>
        <div id="steps" class="control quizNum">
          <i class="icon-note icons"></i>
          <span>{{currentQuestion.question_number}} of {{currentTest.numberOfQuestions}}</span>
        </div>
        <div class="control timer" *ngIf="isTestMode()">
          <span class="title">Time Remaining</span>
          <i class="icons icon-clock" style="padding-left: 5px;"></i>
          <span class="time" gm-digital-time [time]="testScreenService.remainingTime"></span>
        </div>
        <div class="control timer" *ngIf="isPracticeMode()">
          <span class="title">Time Spent</span>
          <i class="icons icon-clock" style="padding-left: 5px;"></i>
          <span class="time" gm-digital-time [time]="testScreenService.elapsedTime"></span>
        </div>
        <a id="button_pause" class="nextBtn testPause" (click)="pauseOrResume()">{{testScreenService.isPaused? 'RESUME' : 'PAUSE'}} <i class="fa fa-star-half-o"></i></a>

      </div>

      <div id="questionInfo">
        <p style="line-height: 30px; margin-left: 20px; float: left; color: yellow;">You have spent a lot time on this question. Please consider moving on.</p>
        <p style="line-height: 30px; float: right; margin-right: 10px; color: white;">Current Question Time: <span gm-digital-time [time]="testScreenService.currentQuestionTime"></span></p>
      </div>


      <div class="whiteBG">
        <div id="section">
          <div class="content" style="display: inline-block">
            <div class="passage" [innerHTML]="currentQuestion.reading_passage | safeHtml" *ngIf="currentQuestion.isReadingComprehension()" style="width: 50%;">
            </div>
            <div class="questionWrap" [ngClass]="{halfWidth: currentQuestion.isReadingComprehension(), fullWidth : !currentQuestion.isReadingComprehension()}">
              <div class="question">
                <div [innerHTML]="currentQuestion.question_stem | safeHtml"></div>
              </div>

              <div style="margin-top: 10px;">
                <div class="option">
                  <div class="radio">
                    <input type="radio" name="option" id="option_A" value="A" [(ngModel)]="currentQuestion.selected_answer">
                  </div>
                  <label for="option_A">{{currentQuestion.option_A}}</label>
                </div>

                <div style="clear: both"></div>

                <div class="option">
                  <div class="radio">
                    <input type="radio" name="option" id="option_B" value="B" [(ngModel)]="currentQuestion.selected_answer">
                  </div>
                  <label for="option_B">{{currentQuestion.option_B}}</label>
                </div>

                <div class="option">
                  <div class="radio">
                    <input type="radio" name="option" id="option_C" value="C" [(ngModel)]="currentQuestion.selected_answer">
                  </div>
                  <label for="option_C">{{currentQuestion.option_C}}</label>
                </div>

                <div class="option">
                  <div class="radio">
                    <input type="radio" name="option" id="option_D" value="D" [(ngModel)]="currentQuestion.selected_answer">
                  </div>
                  <label for="option_D">{{currentQuestion.option_D}}</label>
                </div>

                <div class="option">
                  <div class="radio">
                    <input type="radio" name="option" id="option_E" value="E" [(ngModel)]="currentQuestion.selected_answer">
                  </div>
                  <label for="option_E">{{currentQuestion.option_E}}</label>
                </div>
              </div>

              <div style="clear: both"></div>
            </div>
          </div>

        </div>
      </div>

      <div id="setUp">
        <a style="float: left; margin-left: 30px;">Mark as a guess</a>
        <a style="float: right; margin-right: 10px;">Bookmark</a>
      </div>

      <div id="footer">

        <a class="endExamBtn" (click)="backToSummary()" target="_self"><i class="fa fa-close"></i> End Review</a>
        <a class="endExamBtn" (click)="backToSummary()" target="_self"><i class="fa fa-close"></i> End Exam</a>

        <a id="button_study" class="practiceBtn" (click)="switchTestMode()"><i class="fa fa-mortar-board"> </i> {{isTestMode()? "Practice Mode" : "Test Mode"}}</a>

        <a id="button_next" class="nextBtn" (click)="nextQuestion()">Next <i class="fa fa-arrow-right"></i></a>


      </div>

    </div>
  </div>
</div>

<confirm-dialog [popupMessage]="popupMessage" (close)="popupMessage = null;"></confirm-dialog>
