<div>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Verbal Test
    </div>
    <div class="card-block">
      <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
          <th>Test</th> <th>Difficulty</th><th>Questions</th><th>Status</th> <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let test of tests">
          <td>{{test.testName}}</td>
          <td>{{test.testDifficulty}}</td>
          <td>{{test.numberOfQuestions}}</td>
          <td>{{test.isActive() ? "Active" : "Locked"}}</td>
          <td><button type="button" class="btn btn-sm {{test.isActive() ? 'btn-success' : 'btn-danger'}}" style="width: 80px;"
              (click)="test.isActive() ? selectTest(test): unlockTest(test)" [disabled]="!test.isActive()">
            {{test.isActive() ? "Take Test" : "Unlock"}}</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
