<div class="animated fadeIn">
  Summary Screen - showing all available test.

  <div class="testForm">
    <input type="hidden" id="action_for_test" name="action_for_test" value="take">
    <div id="message">
      <div class="activateJS" style="display: none">
        <p>Please activate JavaScript in your browser to continue!</p>
      </div>
    </div>

    <div id="header">
      <h1>GMAT Club Test Center - Free Test</h1>

      <div id="steps" class="control quizNum">
        <span class="headIcon"></span>
        <span>1 of 21</span>
      </div>
      <div id="timer" class="control timer" title="Click to toggle">
        <span class="title">Time Remaining</span>
        <span class="headIcon"></span>
        <span class="time" id="countdown">40:33</span>
      </div>
      <a id="button_pause" class="nextBtn testPause" href="#">PAUSE</a>

    </div>

    <!-- Hidden fields with question info -->
    <input type="hidden" id="session_id" name="session_id" value="714286">
    <input type="hidden" id="question_id" name="question_id" value="S94-01">
    <input type="hidden" id="timestamp" name="timestamp" value="1348f10d5d089f3edeef69abc921201df3aa30cd1490668005">
    <input type="hidden" id="valid_answer" value="B">
    <input type="hidden" id="remaining_time" value="2435">
    <input type="hidden" id="spend_time" value="85">
    <input type="hidden" id="active" value="1">
    <input type="hidden" id="mode" value="timed">




    <div class="whiteBG">
      <div id="section">
        <div class="content">
          <div class="questionWrap">
            <form id="testSubmit">                        <div class="question">
              Skeptics propose that many eyewitnesses have mistaken an ordinary animal or even a floating inanimate object <u>as the Loch Ness monster</u>.                        </div>

              <div class="option">
                <div class="radio" id="uniform-A"><span><input type="radio" name="answer" id="A" value="A" style="opacity: 0;"></span></div>
                <label for="A">as the Loch Ness Monster</label>
              </div>
              <div class="option">
                <div class="radio" id="uniform-B"><span><input type="radio" name="answer" id="B" value="B" style="opacity: 0;"></span></div>
                <label for="B">for the Loch Ness Monster</label>
              </div>
              <div class="option">
                <div class="radio" id="uniform-C"><span><input type="radio" name="answer" id="C" value="C" style="opacity: 0;"></span></div>
                <label for="C">with the Loch Ness Monster</label>
              </div>
              <div class="option">
                <div class="radio" id="uniform-D"><span><input type="radio" name="answer" id="D" value="D" style="opacity: 0;"></span></div>
                <label for="D">as being the Loch Ness Monster</label>
              </div>
              <div class="option">
                <div class="radio" id="uniform-E"><span><input type="radio" name="answer" id="E" value="E" style="opacity: 0;"></span></div>
                <label for="E">for being the Loch Ness Monster</label>
              </div>

              <p>Knewton SC Test is available for free exclusively to GMAT Club members</p>                    <div style="clear: both"></div>
            </form>                </div>

          <div id="note" class="infoBar" style="display: none;">
            <div class="hide" data-for="noted">
              <p>Hide Note</p>
            </div>
          </div>

        </div>

      </div>
    </div>


    <div id="footer">


      <a id="button_exit" class="endExamBtn" href="#">End Exam</a>

      <a id="button_study" class="practiceBtn" href="#">Practice Mode</a>

      <!-- &nbsp; &nbsp; <a id="button_pause" href="#">Pause</a> -->

      <a id="button_next" class="nextBtn" href="#">Next<span></span></a>




    </div>

  </div>
</div>
