<div class="card" *ngIf="isWelcome()">
    <div class="card-header">
      <h5>Choose Your Timing Session</h5>
    </div>

    <div class="card-block">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card card-inverse card-primary">
            <div class="card-block pb-0 btn-primary" style="cursor: pointer;" (click)="startPractice()">
              <h4 class="mb-0">Practice Mode</h4>
              <p>Unlimited Time</p>
            </div>
          </div>
        </div><!--/.col-->
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card card-inverse card-success">
            <div class="card-block pb-0 btn-success" style="cursor: pointer;" (click)="startQuantitative()">
              <h4 class="mb-0">Quantitative Session</h4>
              <p>37 Questions, 75 minutes</p>
            </div>
          </div>
        </div><!--/.col-->
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card card-inverse card-danger">
            <div class="card-block pb-0 btn-danger" style="cursor: pointer;" (click)="startVerbal()">
              <h4 class="mb-0">Verbal Session</h4>
              <p>41 Questions, 75 minutes</p>
            </div>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
    </div>
  </div>

<div *ngIf="isTiming()" class="card">
  <div class="card-header">
    <h5>GMAT Verbal Session</h5>
  </div>

  <div class="card-block">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-header">
            Control
          </div>

          <div class="card-block">
            <button class="btn btn-primary" (click)="backToWelcome()" style="margin-bottom: 20px;">Back</button>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-header">
              <span>Your Answer</span>
              <span class="pull-right">Question {{timerService.currentQuestion.question_number}}</span>
          </div>
          <div class="card-block">

            <label for="option_A" style="vertical-align: middle; margin-bottom: 0;">A</label>
            <input type="radio" name="option" id="option_A" value="A" [(ngModel)]="timerService.currentQuestion.selected_answer" style="vertical-align: middle; margin-right: 20px;">

            <label for="option_B" style="vertical-align: middle; margin-bottom: 0;">B</label>
            <input type="radio" name="option" id="option_B" value="B" [(ngModel)]="timerService.currentQuestion.selected_answer" style="vertical-align: middle; margin-right: 20px;">

            <label for="option_C" style="vertical-align: middle; margin-bottom: 0;">C</label>
            <input type="radio" name="option" id="option_C" value="C" [(ngModel)]="timerService.currentQuestion.selected_answer" style="vertical-align: middle; margin-right: 20px;">

            <label for="option_D" style="vertical-align: middle; margin-bottom: 0;">D</label>
            <input type="radio" name="option" id="option_D" value="D" [(ngModel)]="timerService.currentQuestion.selected_answer" style="vertical-align: middle; margin-right: 20px;">

            <label for="option_E" style="vertical-align: middle; margin-bottom: 0;">E</label>
            <input type="radio" name="option" id="option_E" value="E" [(ngModel)]="timerService.currentQuestion.selected_answer" style="vertical-align: middle; margin-right: 20px;">

            <hr>
            <div style="margin-top: 20px;">
              <button class="btn btn-success">Next</button>

              <form style="display: inline; margin-left: 20px;">
                <input type="radio" name="radio_certainty" id="radio_sure" class="radio" value="100" [(ngModel)]="timerService.currentQuestion.certainty"/>
                <label for="radio_sure">Sure</label>

                <input type="radio" name="radio_certainty" id="radio_doubt" class="radio" value="50" [(ngModel)]="timerService.currentQuestion.certainty"/>
                <label for="radio_doubt">Doubt</label>

                <input type="radio" name="radio_certainty" id="radio_guess" class="radio" value="0" [(ngModel)]="timerService.currentQuestion.certainty"/>
                <label for="radio_guess">Guess</label>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
        <div class="card">
          <div class="card-header">
            Question Stats
          </div>

          <div class="card-block">

            <div class="row">
              <div class="col-sm-3">
                <div class="card card-inverse card-primary">
                  <div class="card-header">
                    Current Question Time
                  </div>
                  <div class="card-block">
                    <h4 style="text-align: center;">00:00</h4>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">

                <div class="card card-inverse card-success">
                  <div class="card-header">
                    Expected Question
                  </div>
                  <div class="card-block">
                    <h4 style="text-align: center;">00:00</h4>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="card card-inverse card-warning">
                  <div class="card-header">
                    Remaining Time
                  </div>
                  <div class="card-block">
                    <h4 style="text-align: center;">00:00</h4>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="card card-inverse card-info">
                  <div class="card-header">
                    Average Time
                  </div>
                  <div class="card-block">
                    <h4 style="text-align: center;">00:00</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
