<div *ngIf="isWelcome()" class="card">
    <div class="card-header">
      <h5>Choose Your Timing Session</h5>
    </div>

    <div class="card-block">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card card-inverse card-primary">
            <div class="card-block pb-0 btn-primary" style="cursor: pointer;" (click)="startPractice()">
              <h4 class="mb-0">Practice Mode</h4>
              <p>Unlimited Time</p>
            </div>
          </div>
        </div><!--/.col-->
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card card-inverse card-success">
            <div class="card-block pb-0 btn-success" style="cursor: pointer;" (click)="startQuantitative()">
              <h4 class="mb-0">Quantitative Session</h4>
              <p>37 Questions, 75 minutes</p>
            </div>
          </div>
        </div><!--/.col-->
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card card-inverse card-danger">
            <div class="card-block pb-0 btn-danger" style="cursor: pointer;" (click)="startVerbal()">
              <h4 class="mb-0">Verbal Session</h4>
              <p>41 Questions, 75 minutes</p>
            </div>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
    </div>
  </div>

<div *ngIf="isTiming()" class="card">
  <div class="card-header">
    <h5 class="pull-left">GMAT {{getSessionLabel()}}</h5>
  </div>

  <div class="card-block">
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          Control
        </div>

        <div class="card-block" style="display: inline-block;">
          <button class="btn btn-primary" (click)="backToWelcome()"><i class="fa fa-arrow-left"></i>  Back</button>
          <button class="btn btn-outline-success" (click)="review()">REVIEW</button>
          <span class="pull-right">
            <button class="btn btn-success" (click)="start()" *ngIf="!isStarted()"><i class="fa fa-play"></i> START</button>
            <button class="btn btn-danger" (click)="stop()" *ngIf="isStarted()"><i class="fa fa-stop"></i> STOP</button>
            <button class="btn btn-success" (click)="pauseOrResume()" *ngIf="isStarted() && !isPaused()"><i class="fa fa-pause"></i> PAUSE</button>
            <button class="btn btn-warning" (click)="pauseOrResume()" *ngIf="isStarted() && isPaused()"><i class="fa fa-play"></i> RESUME</button>
          </span>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <span>Question {{timerService.currentQuestion.question_number}}</span>
          <span class="pull-right">Your Answer</span>
        </div>
        <div class="card-block">

          <label for="option_A" class="radio-label">A</label>
          <input type="radio" name="option" id="option_A" value="A" [(ngModel)]="timerService.currentQuestion.selected_answer" class="radio-option">

          <label for="option_B" class="radio-label">B</label>
          <input type="radio" name="option" id="option_B" value="B" [(ngModel)]="timerService.currentQuestion.selected_answer" class="radio-option">

          <label for="option_C" class="radio-label">C</label>
          <input type="radio" name="option" id="option_C" value="C" [(ngModel)]="timerService.currentQuestion.selected_answer" class="radio-option">

          <label for="option_D" class="radio-label">D</label>
          <input type="radio" name="option" id="option_D" value="D" [(ngModel)]="timerService.currentQuestion.selected_answer" class="radio-option">

          <label for="option_E" class="radio-label">E</label>
          <input type="radio" name="option" id="option_E" value="E" [(ngModel)]="timerService.currentQuestion.selected_answer" class="radio-option">

          <hr>
          <div style="margin-top: 20px;">
            <button class="btn btn-success" [disabled]="!isStarted() || !timerService.currentQuestion.selected_answer" (click)="next()">NEXT  <i class="fa fa-arrow-right"></i></button>
            <button class="btn btn-danger pull-right" *ngIf="isPracticeSession()" [disabled]="!isStarted()" (click)="end()">END  <i class="fa fa-hourglass-end"></i></button>

            <form style="display: inline; margin-left: 20px;">
              <input type="radio" name="radio_certainty" id="radio_sure" class="radio" value="SURE" [(ngModel)]="timerService.currentQuestion.certainty"/>
              <label for="radio_sure">Sure</label>

              <input type="radio" name="radio_certainty" id="radio_doubt" class="radio" value="DOUBT" [(ngModel)]="timerService.currentQuestion.certainty"/>
              <label for="radio_doubt">Doubt</label>

              <input type="radio" name="radio_certainty" id="radio_guess" class="radio" value="GUESS" [(ngModel)]="timerService.currentQuestion.certainty"/>
              <label for="radio_guess">Guess</label>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
          <div class="card-header">
            Question Stats
          </div>

          <div class="card-block">

            <div class="row">
              <div class="col-sm-3">
                <div class="card card-inverse card-primary">
                  <div class="card-header">
                    Current Question Time
                  </div>
                  <div class="card-block">
                    <h4 style="text-align: center;" gm-digital-time [time]="timerService.currentQuestion.question_time"></h4>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">

                <div class="card card-inverse card-success">
                  <div class="card-header">
                    Expected Question
                  </div>
                  <div class="card-block">
                    <h4 style="text-align: center;">{{timerService.expectedQuestion}}</h4>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="card card-inverse card-warning">
                  <div class="card-header">
                    {{isPracticeSession() ? 'Total Time' : 'Remaining Time'}}
                  </div>
                  <div class="card-block">
                    <h4 style="text-align: center;" gm-digital-time [time]="isPracticeSession() ? timerService.elapsedTime :  timerService.remainingTime"></h4>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="card card-inverse card-info">
                  <div class="card-header">
                    Average Time
                  </div>
                  <div class="card-block">
                    <h4 style="text-align: center;" gm-digital-time [time]="timerService.averageQuestionTime"></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

<div *ngIf="isReview()" class="card">
  <div class="card-header">
    <h5>Review  -  {{getCorrectStatsLabel()}}</h5>
  </div>

  <div class="card-block">
    <button class="btn btn-primary" (click)="backToTimingSession()"><i class="fa fa-arrow-left"></i>  Back</button>

    <table class="table table-bordered table-striped table-condensed" style="margin-top: 20px;">
      <thead>
      <tr>   <th>No.</th>  <th>Answer</th>   <th>Time</th>  <th>Is Correct?</th> <th>Correct Answer</th> <th>Certainty</th>  </tr>
      </thead>
      <tbody>
      <tr *ngFor="let question of getQuestionForReview()">
        <td>{{question.question_number}}</td>
        <td>{{question.selected_answer}}</td>
        <td><span gm-digital-time [time]="question.question_time"></span></td>
        <td><input type="checkbox" class="filled-in" id="Q{{question.question_number}}" name="result" [(ngModel)]="question.is_correct" (change)="onCorrectCheckboxChange(question)"/></td>
        <td>
          <form>
            <label for="Q{{question.question_number}}option_A" class="radio-label">A</label>
            <input type="radio" name="option" id="Q{{question.question_number}}option_A" value="A" [(ngModel)]="question.correct_answer" class="radio-option" (change)="onRadioCorrectAnswerChange(question)">

            <label for="Q{{question.question_number}}option_B" class="radio-label">B</label>
            <input type="radio" name="option" id="Q{{question.question_number}}option_B" value="B" [(ngModel)]="question.correct_answer" class="radio-option" (change)="onRadioCorrectAnswerChange(question)">

            <label for="Q{{question.question_number}}option_C" class="radio-label">C</label>
            <input type="radio" name="option" id="Q{{question.question_number}}option_C" value="C" [(ngModel)]="question.correct_answer" class="radio-option" (change)="onRadioCorrectAnswerChange(question)">

            <label for="Q{{question.question_number}}option_D" class="radio-label">D</label>
            <input type="radio" name="option" id="Q{{question.question_number}}option_D" value="D" [(ngModel)]="question.correct_answer" class="radio-option" (change)="onRadioCorrectAnswerChange(question)">

            <label for="Q{{question.question_number}}option_E" class="radio-label">E</label>
            <input type="radio" name="option" id="Q{{question.question_number}}option_E" value="E" [(ngModel)]="question.correct_answer" class="radio-option" (change)="onRadioCorrectAnswerChange(question)">
          </form>
        </td>
        <td>{{question.certainty}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
